.ant-btn-primary {
  background-color: var(--primaryColor) !important;
  border-color: var(--primaryColor) !important;
}

.one-data-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-container {
  width: 40%;
  margin-top: 3%;
}

#login-heading {
  color: var(--primaryColor);
}

#login-error {
  color: var(--errorColor);
}

/* one card css - start */

.information-container {
  margin-top: 7%;
}

.contact-Information {
  display: flex;
  justify-content: space-between;
  color: #8a2be2 !important;
}

.ant-card-meta-title {
  color: var(--primaryColor) !important;
}

.ant-card-meta-description {
  color: black !important;
}
/* one card css - end*/

.home-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav-header {
  position: fixed;
  width: 100%;
  top: 0%;
  left: 0%;
  z-index: 10;
}

.header {
  background-color: var(--pageColor) !important;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .user-operation {
    margin-top: 17% !important;
    margin-bottom: 13% !important;
  }
}

.user-operation {
  margin-top: 7%;
  margin-bottom: 3%;
  display: flex;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%;
}

.search-container {
  width: 30%;
}

.contact-list {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: safe;
  flex-wrap: wrap;
}

#not-found-container > div {
  font-size: large;
  text-align: center;
}

.ant-spin-dot-item {
  background-color: var(--errorColor) !important;
}

.contact-add-container{
  display: flex;
}