html, body, #root, #root>div {
    height: 100%
  }


.one-data-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-heading{
    position: relative;
    bottom: 6%;
    left: 2%;
    text-decoration: underline;
}

#not-found-container > div{
    font-size: large;
    text-align: center;
}