html, body, #root, #root>div {
    height: 100%
  }

 .ant-btn-primary{
    background-color: #a304fb !important;
    border-color: #a304fb !important;
 }

.one-data-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-container{
    width: 40%; 
    margin-top: 3%;
}

.login-heading{
    color: #a905fa;
    text-decoration: underline;
}

#not-found-container > div{
    font-size: large;
    text-align: center;
}